Repository Rise-Software/Rise-Media-Player, pull requests merged in 2023-06, with the labels that each got.

#233 Improvements to change tracking and indexing
  Rise Media Player Dev/App.xaml.cs
  Rise Media Player Dev/Assets/BlankVideo.png
  Rise Media Player Dev/Assets/Unavailable/MissingAccPic.png
  Rise Media Player Dev/ChangeTrackers/SongsTracker.cs
  Rise Media Player Dev/ChangeTrackers/VideosTracker.cs
  Rise Media Player Dev/Rise.App.csproj
  Rise Media Player Dev/Settings/ScanningPage.xaml.cs
  Rise Media Player Dev/Settings/ViewModels/SettingsViewModel.cs
  Rise Media Player Dev/UserControls/AlbumData.xaml
  Rise Media Player Dev/ViewModels/AlbumViewModel.cs
  Rise Media Player Dev/ViewModels/ArtistViewModel.cs
  Rise Media Player Dev/ViewModels/GenreViewModel.cs
  Rise Media Player Dev/ViewModels/MainViewModel.cs
  Rise Media Player Dev/ViewModels/SongViewModel.cs
  Rise Media Player Dev/ViewModels/VideoViewModel.cs
  Rise Media Player Dev/Views/Albums/AlbumSongsPage.xaml
  Rise Media Player Dev/Views/Albums/AlbumSongsPage.xaml.cs
  Rise Media Player Dev/Views/Albums/Properties/AlbumPropsDetailsPage.xaml
  Rise Media Player Dev/Views/Albums/Properties/AlbumPropsDetailsPage.xaml.cs
  Rise Media Player Dev/Views/Songs/Properties/SongDetailsPage.xaml
  Rise Media Player Dev/Views/Songs/Properties/SongDetailsPage.xaml.cs
  Rise Media Player Dev/Views/Songs/SongsPage.xaml.cs
  Rise Media Player Dev/Windows/MainPage.xaml
  Rise Media Player Dev/Windows/MainPage.xaml.cs
  Rise.Common/Constants/SupportedFileTypes.cs
  Rise.Common/Constants/URIs.cs
  Rise.Common/Enums/BackgroundTaskRegistrationStatus.cs
  Rise.Common/Enums/ChangedLibraryType.cs
  Rise.Common/Enums/StorageLibraryChangeStatus.cs
  Rise.Common/Extensions/FileExtensions.cs
  Rise.Common/Extensions/ImageExtensions.cs
  Rise.Common/Extensions/IndexingExtensions.cs
  Rise.Common/Helpers/WebHelpers.cs
  Rise.Common/Rise.Common.csproj
  Rise.Common/StorageLibraryChangeResult.cs
  Rise.Data/ViewModels/ViewModel.cs
  Rise.Models/Media/Song.cs
  Rise.Models/Media/Video.cs
  Rise.NewRepository/Repository.cs
Labels: bug, enhancement, feature-artists-genres-albums, triage-approved

#243 Updates to MainPage layout
  Rise Media Player Dev/Assets/NavigationView/DiscyPage/Colorful.png
  Rise Media Player Dev/Assets/NavigationView/GenresPage/Colorful.png
  Rise Media Player Dev/Assets/NavigationView/SettingsPage/Colorful.png
  Rise Media Player Dev/Rise.App.csproj
  Rise Media Player Dev/Windows/MainPage.xaml
  Rise Media Player Dev/Windows/MainPage.xaml.cs
  Rise.Data/Navigation/NavigationDataSource.DefaultItems.cs
Labels: enhancement

#244 Improvements to now playing UI
  Rise Media Player Dev/Converters/StreamToBitmap.cs
  Rise Media Player Dev/Dialogs/MusicStreamingDialog.xaml.cs
  Rise Media Player Dev/Dialogs/VideoStreamingDialog.xaml.cs
  Rise Media Player Dev/Helpers/AddToPlaylistHelper.cs
  Rise Media Player Dev/Helpers/MusixmatchHelper.cs
  Rise Media Player Dev/ResourceDictionaries/CustomStyles.xaml
  Rise Media Player Dev/ResourceDictionaries/PlayerStyles.xaml
  Rise Media Player Dev/Rise.App.csproj
  Rise Media Player Dev/Strings/en-GB/Resources.resw
  Rise Media Player Dev/UserControls/DefaultQueueFlyout.xaml
  Rise Media Player Dev/UserControls/LyricItem.xaml
  Rise Media Player Dev/UserControls/MediaPageBase.cs
  Rise Media Player Dev/UserControls/RiseMediaPlayerElement.cs
  Rise Media Player Dev/UserControls/RiseMediaTransportControls.cs
  Rise Media Player Dev/UserControls/SongData.xaml
  Rise Media Player Dev/UserControls/SongData.xaml.cs
  Rise Media Player Dev/ViewModels/SongViewModel.cs
  Rise Media Player Dev/ViewModels/VideoViewModel.cs
  Rise Media Player Dev/Views/Albums/AlbumSongsPage.xaml
  Rise Media Player Dev/Views/Albums/AlbumsPage.xaml
  Rise Media Player Dev/Views/Artists/ArtistSongsPage.xaml
  Rise Media Player Dev/Views/Artists/ArtistsPage.xaml
  Rise Media Player Dev/Views/Genres/GenreSongsPage.xaml
  Rise Media Player Dev/Views/LocalVideosPage.xaml
  Rise Media Player Dev/Views/LocalVideosPage.xaml.cs
  Rise Media Player Dev/Views/Playlists/PlaylistDetailsPage.xaml
  Rise Media Player Dev/Views/Playlists/PlaylistDetailsPage.xaml.cs
  Rise Media Player Dev/Views/Playlists/PlaylistsPage.xaml
  Rise Media Player Dev/Views/Songs/SongsPage.xaml
  Rise Media Player Dev/Windows/CompactNowPlayingPage.xaml
  Rise Media Player Dev/Windows/CompactNowPlayingPage.xaml.cs
  Rise Media Player Dev/Windows/MainPage.xaml
  Rise Media Player Dev/Windows/MainPage.xaml.cs
  Rise Media Player Dev/Windows/NowPlayingPage.xaml
  Rise Media Player Dev/Windows/NowPlayingPage.xaml.cs
  Rise Media Player Dev/Windows/VideoPlaybackPage.xaml
  Rise Media Player Dev/Windows/VideoPlaybackPage.xaml.cs
  Rise.Common/Helpers/DependencyPropertyWatcher.cs
  Rise.Common/Helpers/WebHelpers.cs
  Rise.Common/Rise.Common.csproj
  Rise.Data/ViewModels/MediaPlaybackViewModel.cs
Labels: enhancement, feature-nowplayingbar

#245 Settings cleanup
  Rise Media Player Dev/Assets/Settings/Appearance.png
  Rise Media Player Dev/Assets/Settings/LibraryCustomise/widgettoptrackpreview.png
  Rise Media Player Dev/Assets/Settings/Sidebar.png
  Rise Media Player Dev/Assets/Settings/about.png
  Rise Media Player Dev/Assets/Settings/feedback.png
  Rise Media Player Dev/Assets/Settings/language.png
  Rise Media Player Dev/Assets/Settings/library.png
  Rise Media Player Dev/Assets/Settings/playback.png
  Rise Media Player Dev/Dialogs/LibraryPageEditDialog.xaml
  Rise Media Player Dev/Dialogs/LibraryPageEditDialog.xaml.cs
  Rise Media Player Dev/Dialogs/SettingsDialogContainer.xaml
  Rise Media Player Dev/Dialogs/SettingsDialogContainer.xaml.cs
  Rise Media Player Dev/ResourceDictionaries/CustomStyles.xaml
  Rise Media Player Dev/Rise.App.csproj
  Rise Media Player Dev/Settings/AboutPage.xaml.cs
  Rise Media Player Dev/Settings/AllSettingsPage.xaml
  Rise Media Player Dev/Settings/AllSettingsPage.xaml.cs
  Rise Media Player Dev/Settings/AppearanceBasePage.xaml
  Rise Media Player Dev/Settings/AppearancePage.xaml.cs
  Rise Media Player Dev/Settings/InsiderPage.xaml.cs
  Rise Media Player Dev/Settings/LibraryCustomise/ArtistsCustomisePage.xaml
  Rise Media Player Dev/Settings/LibraryCustomise/ArtistsCustomisePage.xaml.cs
  Rise Media Player Dev/Settings/MediaLibraryPages/MediaLibraryBasePage.xaml
  Rise Media Player Dev/Settings/ScanningPage.xaml
  Rise Media Player Dev/Settings/SettingsPage.xaml
  Rise Media Player Dev/Settings/SettingsPage.xaml.cs
  Rise Media Player Dev/Settings/WindowsBehavioursPage.xaml
  Rise Media Player Dev/Views/HomePage.xaml
  Rise Media Player Dev/Views/HomePage.xaml.cs
  Rise Media Player Dev/Web/SupportProject.xaml
  Rise Media Player Dev/Web/SupportProject.xaml.cs
  Rise Media Player Dev/Web/WhatsNew.xaml
  Rise Media Player Dev/Web/WhatsNew.xaml.cs
Labels: enhancement, feature-settings-help-centre
